@import "utility";
@import "general";

body {
  height: 100%;
}
// header

// styles for label container
main {
    margin-top: 140px;
    min-height: 100vh;
    max-height: 100%;


    
  .text-center {
    text-align: center;
    margin: 25px;
    h1 {
      margin-bottom: 1rem;
    }
  
    .checkout-btn {
      @include button-style;
    }
  
    .clear-button {
      @include button-style;
    }
  
    .home-btn {
      @include button-style;
    }
  }
}


// cart modal
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $modal-bg-color; /* Black w/ opacity */

  .modal-cart-content {
    background-color: $bg-color3;
    margin: auto;
    border: 1px solid $bg-color1;
    width: 60%;
    min-width: 300px;
    height: auto;
    padding: 0.6rem;
    padding-bottom: 1rem;
    position: relative;
    top: 150px;
  
    p {
      display: block;
      text-align: center;
      margin-bottom: 15px;
      padding: 5px;
      font-size: 1.2rem;
    }
  
    .confirm-buttons {
      text-align: center;
  
      .no-button {
        @include button-style2;
        width: 100px;
        font-size: 1rem;
        padding: 5px;
    
      }
    
      .yes-button {
        @include button-style;
        width: 100px;
        font-size: 1rem;
        padding: 5px;
    
      }
    }
  }
}
 
// styles for shopping-cart container
.shopping-cart {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3rem;;
  width: 70%;
  margin: auto;
  margin-bottom: 250px;


  .product-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    width: 100%;

    .close-btn {
      color: $font-color2;
      font-size: 2rem;
      font-weight: bold;
      position: absolute;
      top: 5px;
      right: 15px;
      &:hover {
        color: $font-color3;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .grid-item1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      padding: 0.9rem;

      .product-title {

      }
  
      img {
        width: 150px;
      }
    }

    .grid-item2 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      background-color: $bg-color4;

      .product-price {
        margin: auto;
        font-size: 1.5rem;
        font-weight: 600;
      }
      
      .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .quantity {
          font-size: 1.5rem;
          font-weight: 700;
        }

        i {
          font-size: 1.5rem;
          cursor: pointer;
          padding: 5px;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .shopping-cart {
    @include flex-container;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 3rem;;
    margin: auto;
    width: 100%;
  
    .product-card {
      display: grid;
      grid-template-columns: 1f 1fr;
      height: 200px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      width: 100%;
  
      .grid-item1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
  
        .product-title {
          font-size: 1.2rem;
        }
    
        img {
          width: 100px;
          min-width: none;
        }
      }
  
      .grid-item2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
  
        .product-price {
          margin: auto;
          font-size: 1.5rem;
          font-weight: 600;
        }
        
        .buttons-container {
          display: flex;
          justify-content: center;
          align-items: center;
  
          .quantity {
            font-size: 1.5rem;
            font-weight: 700;
            background-color: $bg-color3;
            margin: 0 30px;
          }
  
          i {
            font-size: 1.5rem;
            cursor: pointer;
            padding: 5px;
          }
        }
      }
    }
  }
}
