@import "utility";
@import "general";

footer {
    background-color: $bg-color1;
    width: 100%;
    height: 5rem;
    margin-top: 35px;
    color: $font-color1;
    @include flex-container;

    .footer-text {
        margin: auto;
        text-align: center;
        font-weight: 600;
        padding: 5px;
        border-bottom: 2px solid $bg-color2;
    }
}