/* SASS Variables*/
$bg-color1: rgb(95, 104, 116);
$bg-color2: rgb(255, 70, 50);
$bg-color3: white;
$bg-color4: rgb(240, 241, 243);
$bg-color5: rgb(255, 70, 50);
$font-color1: white;
$font-color2: rgb(46, 41, 41);
$font-color3: rgb(255, 70, 50);
$border-color2: rgb(48, 48, 48);
$modal-bg-color: rgba(0, 0, 0, 0.4);

/* Override default style and set padding and margin to nothing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
}

/* Make all link text black with no text decoration */
a {
  color: white;
  text-decoration: none;
}

/* No styling on list items */
li {
  list-style-type: none;
}

img {
  width: 100%;
}

@media (min-width: 1000.1px) {

  
}

/* Tablet screen */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Mobile screen */
@media (max-width: 580px) {
  html {
    font-size: 12px;
  }
}
