
/* SASS Variables*/
$bg-color1: rgb(95, 104, 116);
$bg-color2: rgb(255, 70, 50);
$border-color1: rgb(170, 89, 89);
$border-color2: rgb(48, 48, 48);

/* Override default style and set padding and margin to nothing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

html {
  font-size: 16px;
}

body {
  height: 3000px;
}

/* Make all link text black with no text decoration */
a {
  color: white;
  text-decoration: none;
}

/* No styling on list items */
li {
  list-style-type: none;
}

img {
  width: 100%;
}


/* Tablet screen */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Mobile screen */
@media (max-width: 580px) {
  html {
    font-size: 12px;
  }
}
