@import "utility";
@import "general";

.main-header {
  height: 100px;
  margin-bottom: 200px;

  .middle-section {
    @include flex-container;
    justify-content: center;
    width: 150px;
    
  
    .logo {
      width: 11rem;
      height: auto;
      margin-left: -20px;
    }
  
    .tooltip {
      @include tooltip-style;
    }
    &:hover .tooltip {
      opacity: 1;
    }
  }
  
  .right-section {
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    justify-content: center;
    background-color: $bg-color5;
    border: none;
    cursor: pointer;
    a {
      font-weight: 700;
      font-size: 1rem;
      cursor: pointer;
    }
  
    .addtocart-container {
      @include flex-container;
      
      position: relative;
  
      .addtocart-icon {
        height: 23px;
      }
  
      .addtocart-counter {
        background-color: $bg-color1;
        color: white;
        font-weight: 500;
        font-size: 11px;
        padding: 3px 5px;
        border-radius: 7px;
        position: absolute;
        top: -5px;
        right: -8px;
      }
  
      .tooltip {
        @include tooltip-style;
        left: -25px;
      }
  
      &:hover .tooltip {
        opacity: 1;
      }
    }
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}



/*Desktop layout*/
@media (min-width: 1000.1px) {
  .main-header {
    @include flex-container;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid gray;
    background-color: $bg-color1;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 99;

    .menubtn {
      @include flex-container;
      justify-self: center;
      cursor: pointer;
      display: none;

      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 8px 0;
      }
    }

    .middle-section {

    }

    .right-section {
      @include flex-container;
      justify-self: center;
    }
  }
}

/*Desktop to tablet layout*/
@media (max-width: 1000px) {
  .main-header {
    @include flex-container;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid gray;
    background-color: $bg-color1;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 99;

    .menubtn {
      width: 150px;
      @include flex-container;
      justify-self: center;
      cursor: pointer;
      display: block;

      .bar1,
      .bar2,
      .bar3 {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 8px 0;
      }
    }

    .change {
      .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
    }

    .right-section {
      @include flex-container;
      justify-content: center;
    }
  }
}

@media (max-width: 580px) {
  .main-header {
    @include flex-container;
    justify-content: space-between;
    padding: 0 1.7rem;
    border-bottom: 1px solid gray;
    background-color: $bg-color1;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 99;

    .menubtn {
      width: 70px;
      // padding-left: 10px;
      @include flex-container;
      justify-content: center;
      cursor: pointer;
      display: block;

      .bar1,
      .bar2,
      .bar3 {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 8px 0;
      }
    }

    .change {
      .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
    }

    .middle-section {
      width: 100px;
    }


    .right-section {
      width: 70px;
      @include flex-container;
      justify-content: center;
      min-width: 40px;
    }
  }
}

@media (max-width: 320px) {
}
