@import "general";

@media (min-width: 1000.1px) {
  nav {
    width: 80%;
    height: 65px;
    margin: 100px auto 13px auto;
    background-color: $bg-color1;
    border-bottom: 3px solid $bg-color2;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .dropdown {
      position: relative;
      overflow: visible;
      
      .dropbtn {
        padding: 20px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
        margin-top: 20px;
        background-color: $bg-color1;
        position: absolute;
        width: 250px;
      
        a {
          font-size: 1rem;
          font-weight: 400;
          padding: 1rem;
          display: block;
          border-bottom: 1px solid $border-color2;
          cursor: pointer;
      
          &:hover {
            background-color: $bg-color2;
          }
        }
      }
      
      .show {
        display: block;
      }
    }

    .red {
      background-color: $bg-color2;
    }

    .user-section {
      a {
        display: none;
        padding: 20px 10px;
        font-size: 50rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 14px 0 14px 10px;
        border-bottom: 1px solid $bg-color1;
      }
    }
  }
}
    
@media (max-width: 1000px) {
  nav {
    display: none;
    width: 200px;
    background-color: $bg-color1;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;

    .dropdown {
      position: relative;
      border-bottom: 1px solid $border-color2;
      
      .dropbtn {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 14px 0 14px 10px;
      }

      .red {
        background-color: $bg-color2;
      }

      .dropdown-content {
        display: none;
        background-color: $bg-color1;
        position: absolute;
        right: -250px;
        top: 0;
        width: 250px;
        z-index: 99;

        a {
          font-size: 0.9rem;
          font-weight: 400;
          display: block;
          padding: 14px 0 14px 10px;
          border-bottom: 1px solid $border-color2;
          &:hover {
            background-color: $bg-color2;
          }
        }

      }

      .show {
        display: block;
      }
    }

    .user-section {
      a {
        display: none;
        padding: 20px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 14px 0 14px 10px;
        border-bottom: 1px solid $bg-color1;
      }
    }
  }

  .show-sidenav {
    display: block;
  }    
}

@media (max-width: 580px) {

  nav {
    display: none;
    width: 200px;
    background-color: $bg-color1;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;

    .user-section {
      a {
        display: block;
        padding: 20px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 14px 0 14px 10px;
        border-bottom: 1px solid $bg-color1;
      }
    }
  }
}