@mixin flex-container {
  display: flex;
  align-items: center;
}

@mixin tooltip-style {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.15s;
}

@mixin button-style {
  background-color: $bg-color2;
  color: $font-color1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}
