.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid gray;
    background-color: var(--bg-color1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 99;
}



.middle-section {
    flex: 1;
    max-width: 500px;
    margin: 0 10px;

    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 1.1rem;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}

.search-button {
    height: 40px;
    width: 65px;
    background-color: rgb(231, 224, 224);
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: -2px;
}

.search-icon {
    width: 20px;
}

.search-button, .addtocart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.addtocart-icon {
    height: 23px;
}

.addtocart-counter {
    background-color: var(--bg-color2);
    color: white;
    font-weight: 500;
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 7px;
    position: absolute;
    top: -5px;
    right: -8px;
}

  .search-button .tooltip,
  .addtocart-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.15s;
  }

  .search-button:hover .tooltip,
  .addtocart-container:hover .tooltip {
    opacity: 1;
  }

  @media (min-width: 1000.1px) {
     /*Main navigation*/

     .menubtn-container {
      cursor: pointer;
      display: none;
    }
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }

     .right-section {
      width: 200px;
      flex-shrink: 0;
      margin-right: 20px;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .right-section a {
      font-weight: 700;
      font-size: 1rem;
      cursor: pointer;
  }

  nav {
    width: 80%;
    height: 65px;
    margin: 100px auto 13px auto;
    background-color: var(--bg-color1);
    border-bottom: 3px solid var(--bg-color2);
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-container a {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
  }

  .dorpdown {
    position: relative;
    overflow: visible;
  }

  .dropbtn {
    padding: 20px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
  }

  .dropdown-content {
    display: none;
    margin-top: 20px;
    background-color: var(--bg-color1);
    position: absolute;
    width: 250px;
  }

  .dropdown-content a {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    display: block;
    border-bottom: 1px solid rgb(48, 48, 48);
  }

  .dropdown-content a:hover {
    background-color: var(--bg-color2);
  }

  .show {
    display: block;
  }

  .red {
    background-color: var(--bg-color2);
  }

   .user-section a {
    display: none;
    padding: 20px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 14px 0 14px 10px;
    border-bottom: 1px solid var(--border-color1);
  }

  }

@media (max-width: 1000px) {

  .menubtn-container {
    cursor: pointer;
    display: block;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

    .right-section {
      width: 130px;
      flex-shrink: 0;
      margin-right: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
        }

    nav {
        display: none;
        width: 200px;
        background-color: var(--bg-color1);
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
      }

      .dropdown {
        position: relative;
      }
    
      .dropbtn {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 14px 0 14px 10px;
        border-bottom: 1px solid var(--border-color1);

      }
    
      .dropdown-content {
        display: none;
        background-color: var(--bg-color1);
        position: absolute;
        right: -250px;
        top: 0;
        width: 250px;
        z-index: 99;
      }
    
      .dropdown-content a {
        font-size: 0.9rem;
        font-weight: 400;
        display: block;
        padding: 14px 0 14px 10px;
        border-bottom: 1px solid var(--border-color1);
      }
    
      .dropdown-content a:hover {
        background-color: var(--bg-color2);
      }
    
      .show {
        display: block;
      }
    
      .red {
        background-color: var(--bg-color2);
      }

      .user-section a {
        display: none;
        padding: 20px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 14px 0 14px 10px;
        border-bottom: 1px solid var(--border-color1);
      }
    
      }

      @media (max-width: 580px) {
        .menubtn-container {
          cursor: pointer;
          display: block;
        }
        
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          background-color: white;
          margin: 6px 0;
          transition: 0.4s;
        }
        
        .change .bar1 {
          transform: translate(0, 11px) rotate(-45deg);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
          transform: translate(0, -11px) rotate(45deg);
        }



        .right-section {
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
      }

        .right-section a {
          display: none;
        }

        .user-section a {
          display: block;
          padding: 20px 10px;
          font-size: 1.2rem;
          font-weight: 600;
          width: 100%;
          height: 100%;
          padding: 14px 0 14px 10px;
          border-bottom: 1px solid var(--border-color1);
        }
      }

      
