main {
    margin: 0 auto;
  }

  main, .grid-container {
    width: 80%;
  }

  .banner-container {
    margin-bottom: 30px;
  }

  .banner-image {
  }

  h1 {
    margin-bottom: 20px;
  }

  .description {
    margin: 30px 0 100px 0;
    text-align: justify;
    font-size: 1.1rem;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-label {
    margin-top: 15px;
  }

  .product-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
   
  }

  .product-price {
    text-align: center;
    color: #ff4632;
    font-size: 1.2rem;
    font-weight: 700;
  }


  @media (min-width: 1000.1px) {

    .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 70px;
    }

  }

  @media (max-width: 1000px) {
    main {
      margin: 80px auto;
    }

    main, .grid-container {
      width: 90%;
    }

    .banner-container {
      margin-bottom: 20px;
    }

    h1 {
      margin-bottom: 17px;
    }

    .description {
      margin: 20px 0 50px 0;
      text-align: justify;
      font-size: 1.1rem;
    }

    .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
    }

  }

  @media (max-width: 580px) {
    main {
      margin: 70px auto;
    }

    main, .grid-container {
      width: 95%;
    }

    .banner-container {
      margin-bottom: 10px;
    }

    h1 {
      margin-bottom: 12px;
    }

    .description {
      margin: 15px 0 40px 0;
      text-align: justify;
      font-size: 1.1rem;
    }

    .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  @media (max-width: 320px) {
    main {
      margin: 70px auto;
    }

    main, .grid-container {
      width: 95%;
    }

    .banner-container {
      margin-bottom: 10px;
    }

    h1 {
      margin-bottom: 12px;
    }

    .description {
      margin: 15px 0 40px 0;
      text-align: justify;
      font-size: 1.1rem;
    }

    .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

  }

  
